{{ define "main" }}
  <div class="main">
    {{/*  <h1 class="section__title">Welcome. ようこそ！</h1>
    <div class="section__border__margin section__border__margin--bottom"></div>

    <div class="box width_330px">
      <img src="images/me/cool10.jpg"/>
      <p class="small__text">Sponsor this man, please.</p>
    </div>
  */}}
    {{/*  <div class="box width_330px">
      <p class="small__text">Welcome to the website!</p>
    </div>  */}}

    <div style="padding-top: 0rem;" class="section__part">
      <div class="box">
        <h2>The Writer's Daily is a podcast.</h2>
        <p class="text">It's an anthem for new ideas, discussion, storytelling, writing, inspiration and everything else in-between.</p>
        <p class="text">I want to inspire people to feel, and that's been my ultimate intention with this podcast from the very beginning.</p>
        <p class="text">I don't particularly care what those feelings are, but being able to feel is so incredibly important.</p>
        <p class="text">It's available for download on all major platforms.</p>

        <p class="hashtag">#thewritersdaily</p>
      </div>
      <div class="centre">
        <div class="links__bottom homepage__links__other">
          <a href="https://castbox.fm/channel/id2852897">Castbox</a>
          <a href="https://podcasts.apple.com/au/podcast/the-writers-daily/id1515047747">iTunes</a>
                {{/*  <p class="text text__margin">Google Play: </p>
      <p class="text text__margin">Spotify: </p>  */}}

        </div>

        <img class="box width_330px" src="images/twd/logo_512_non_transparent.png" />

        <div class="links__bottom__bottom links__bottom homepage__links__other" style="margin-bottom: 2rem;">
          <a href="https://castbox.fm/channel/id2852897">Castbox</a>
          <a href="https://podcasts.apple.com/au/podcast/the-writers-daily/id1515047747">iTunes</a>
        </div>
      </div>
    </div>

    <div class="section__border__margin"></div>
      <h1 class="section__title">Listen.</h1>
    <div class="section__border__margin section__border__margin--bottom"></div>

    {{/*  <div class="box width_330px">
      <p class="small__text">It's me. ^^</p>
    </div>  */}}

    <div class="box" style="width: 100%;">
      <iframe src="https://castbox.fm/app/castbox/player/id2852897?v=8.22.9&autoplay=0" frameborder="0" width="100%" height="400"></iframe>
    </div>

    <div class="section__border__margin"></div>
    <h1 class="section__title">Episode List.</h1>
    <div class="section__border__margin section__border__margin--bottom"></div>

    {{/*  <div class="box width_330px">
      <p class="small__text">It's me. ^^</p>
    </div>  */}}

    {{ range where .Site.Pages.ByDate.Reverse "Section" "episodes" }}
      {{ if eq .Slug "episodes" }} <!-- This effectively removes the folders i.e. /episodes. -->

      {{ else }}
      <a class="box box__archive" href="{{ .Permalink }}">
        <div>
          <div>
            <h1 class="box__archive__title">{{ .Params.Title }}</h1>
            <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
            <p>{{ .Description }}</p>
          </div>

          <div class="category__container">
            {{ range .Params.tags }}
              <span class="category">
                #{{ . }}
              </span>
            {{ end }}
          </div>
        </div>
        <div>
          {{ .Params.castboxEmbedUrl | safeHTML }}
        </div>
      </a>
      {{ end }}
    {{ end }}
  </div>
{{ end }}