{{ define "main" }}
  <div class="main">
    {{/*  <h1 class="section__title">Welcome. ようこそ！</h1>
    <div class="section__border__margin section__border__margin--bottom"></div>

    <div class="box width_330px">
      <img src="images/me/cool10.jpg"/>
      <p class="small__text">Sponsor this man, please.</p>
    </div>
  */}}
    {{/*  <div class="box width_330px">
    </div>  */}}

    <div style="padding-top: 0rem;" class="section__part">
      <div class="box">
        <h2>The Writer's Daily is a podcast.</h2>
        <p class="small__text">The Writer's Daily is a podcast.</p>
        <p class="small__text">It's an anthem for new ideas, discussion, storytelling, writing, inspiration and everything else in-between. <i class="em em-tada" aria-role="presentation" aria-label="PARTY POPPER"></i></p>
        <p class="small__text">Here you shall find an episode list, as well as some information on how you can listen to the show.</p>
        <p class="small__text">Let me show you around, stranger.</p>



        <p class="text">Castbox:</p>
        <p class="text">Google Play:</p>
        <p class="text">Spotify:</p>
        <p class="text">iTunes:</p>

        <p class="hashtag">#thewritersdaily</p>
      </div>
      <div class="centre">
        <img class="box width_330px" src="images/twd/logo_512_non_transparent.png" />
        <!-- <div class="links__bottom homepage__links__other">
          <a href="https://thewritersdaily.juliusreade.com">Website</a>
          <a href="https://castbox.fm/ch/2852897">Podcast</a>
        </div> -->
      </div>
    </div>

    <div class="section__border__margin"></div>
    <h1 class="section__title">Episode List. エピソード。</h1>
    <div class="section__border__margin section__border__margin--bottom"></div>


    {{ range where .Site.Pages.ByDate.Reverse "Section" "episodes" }}
      {{ if eq .Slug "episodes" }} <!-- This effectively removes the folders i.e. /episodes. -->

      {{ else }}
      <a class="box box__archive" href="{{ .Permalink }}">
        <div>
          <h1 class="box__archive__title">{{ .Params.Title }}</h1>
          <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
          <p>{{ .Description }}</p>
          {{ .Params.castboxEmbedUrl }}
        </div>

        <div>
          <p class="category">
            {{ range .Params.tags }}{{ . }}{{ end }}
          </p>
        </div>
      </a>
      {{ end }}
    {{ end }}
  </div>
{{ end }}