/* Put your custom styles here and run `npm start` from the "src" directory on */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* #00ffee */
/* rgba(255,46,182,1) */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;

  overflow: hidden;
}

.width_330px {
  width: 100%;
}

.box {
  margin-bottom: 2rem;
  box-shadow: -6px 6px 0px 0px black;

  border: 2px solid black;
  padding: 1.5rem;
  transition: 0.3s;
}

.box__archive {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  width: 100%;

  /* background: black; */
}

.centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1.6rem;
  padding-right: 1.6rem;

}

.box:hover, .twd__logo:hover {
  box-shadow: -12px 12px 0px 0px black;
}

/* All */
/* .box:hover > .category {
  box-shadow: -12px 12px 0px 0px black;
} */

.box__archive__title {
  font-size: 1.4rem;
  max-width: 32rem;
}

.archive__container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.section__part {
  display: flex;
  flex-direction: column;
}

.section__part .text {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.small__text {
  font-size: 1rem;
}

.section__border {
  height: 2px;
  width: 100%;
  background: black;
  box-shadow: 12px -12px 0px 0px black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section__border__margin {
  height: 2px;
  width: 100%;
  background: black;
  box-shadow: 12px -12px 0px 0px black;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.section__border__margin--bottom {
  margin-bottom: 3rem;
}

.links {
  display: flex;
  flex-direction: column;
}

.content {
  max-width: 600px;

  min-height: 500px;
}

.section__twd__bottom {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.category {
  font-size: 1rem;
  background: black;
  color: white;
  border: 4px solid white;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}

.text__margin {
  margin-left: 2rem!important;
}

li {
  margin-bottom: 0.6rem;
}

@media screen and (min-width: 770px) {
  .main {
    overflow: visible;

    max-width: 700px;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: flex-start;
  }

  .box__archive__title {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .width_330px {
    width: 330px;
  }

  .box__archive {
    flex-direction: row;
  }

  .archive__container {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .text__margin {
    margin-left: 3rem!important;
  }

  .category {
    font-size: 1.4rem;
  }
}
